In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DATASET_PATH = "dataset"

In [2]:
sets = pd.read_csv(DATASET_PATH + "/sets.csv")

themes = pd.read_csv(DATASET_PATH + "/themes.csv")
themes.rename(columns = {'id':'theme_id'}, inplace = True)

sets = sets.merge(themes, on='theme_id', how='left')
sets.rename(columns = {'name_x':'set_name','name_y':'theme_name'}, inplace = True)

sets.set_num.nunique()

11673

In [3]:
inv = pd.read_csv(DATASET_PATH + "/inventories.csv")
inv.set_num.nunique()

11670

In [7]:
inv = inv.merge(sets, on='set_num', how='left')
inv.set_num.nunique()

11670

In [8]:
inv_part = pd.read_csv(DATASET_PATH + "/inventory_parts.csv")

colors = pd.read_csv(DATASET_PATH + "/colors.csv")
colors.rename(columns = {'id':'color_id'}, inplace = True)

inv_part = inv_part.merge(colors, on='color_id', how='left')
inv_part.rename(columns = {'inventory_id':'id'}, inplace = True)
inv_part.shape

(580251, 8)

In [15]:
df = inv_part.merge(inv, on='id', how='left')
print('Cantidad de sets: ',df.set_num.nunique())
df.head()

Cantidad de sets:  10713

,id,part_num,color_id,quantity,is_spare,name,rgb,is_trans,version,set_num,set_name,year,theme_id,num_parts,theme_name,parent_id
0,1,48379c01,72,1,f,Dark Bluish Gray,6C6E68,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
1,1,48395,7,1,f,Light Gray,9BA19D,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
2,1,mcsport6,25,1,f,Orange,FE8A18,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
3,1,paddle,0,1,f,Black,05131D,f,1,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,2004,460,4,Gravity Games,458.0
4,3,11816pr0005,78,1,f,Light Flesh,F6D7B3,f,1,3931-1,Emma's Splash Pool,2012,494,43,Friends,NaN

In [77]:
df_ = df.drop(['parent_id', 'theme_id', 'year', 'version', 'is_trans', 'is_spare',  'quantity',
                     'part_num',  'id'], axis = 'columns')
df_

,color_id,name,rgb,set_num,set_name,num_parts,theme_name
0,72,Dark Bluish Gray,6C6E68,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,4,Gravity Games
1,7,Light Gray,9BA19D,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,4,Gravity Games
2,25,Orange,FE8A18,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,4,Gravity Games
3,0,Black,05131D,7922-1,McDonald's Sports Set Number 6 - Orange Vest S...,4,Gravity Games
4,78,Light Flesh,F6D7B3,3931-1,Emma's Splash Pool,43,Friends
...,...,...,...,...,...,...,...
580246,0,Black,05131D,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels
580247,71,Light Bluish Gray,A0A5A9,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels
580248,15,White,FFFFFF,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels
580249,0,Black,05131D,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels
580250,72,Dark Bluish Gray,6C6E68,75090-2,Ezra's Speeder Bike,253,Star Wars Rebels

In [78]:
df_.set_num.nunique()

10713

In [79]:
count_colors = df_.rgb.value_counts().to_dict()
sum(count_colors.values())

580251

In [80]:
df_g=df_.groupby('set_num',as_index=False)['rgb'].nunique()
print('Cantidad máxima de colores en set:', df_g.rgb.max())

Cantidad máxima de colores en set: 43

In [81]:
df_d = df_.drop_duplicates(ignore_index = True)
df_d = df_d.drop(['name', 'set_name','num_parts', 'theme_name'], axis = 'columns')

df_d.shape
df_d.tail(100)

       color_id     rgb  set_num
94222       148  575857  75183-1
94223        80  A5A9B4  75183-1
94224       297  AA7F2E  75183-1
94225         0  05131D  75532-1
94226        72  6C6E68  75532-1
...         ...     ...      ...
94317       179  898788  75090-2
94318        36  C91A09  75090-2
94319        35  D9E4A7  75090-2
94320       484  A95500  75090-2
94321        28  958A73  75090-2

[100 rows x 3 columns]

In [82]:
df_d.pivot(index= 'set_num', columns = 'color_id', values='rgb')
#df_d.T

color_id,-1,0,1,2,3,4,5,6,7,8,...,450,462,484,503,1000,1001,1002,1003,1006,9999
set_num,,,,,,,,,,,,,,,,,,,,,
00-1,NaN,05131D,0055BF,NaN,NaN,C91A09,NaN,NaN,9BA19D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00-2,NaN,05131D,0055BF,237841,NaN,C91A09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00-3,NaN,05131D,0055BF,237841,NaN,C91A09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00-4,NaN,05131D,0055BF,237841,NaN,C91A09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0011-2,NaN,05131D,0055BF,NaN,NaN,C91A09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sw218promo-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tech007promo-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05131D
tf05-1,NaN,05131D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trucapam-1,NaN,05131D,0055BF,NaN,NaN,C91A09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vwkit-1,NaN,NaN,0055BF,NaN,NaN,C91A09,NaN,NaN,9BA19D,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN